{% extends "base.html" %}
{% load static %}

{% block title %}Tạo bài viết{% endblock title %}

{% block content %}

<div class="container-fluid mt-5">
    <h3 class=" text-center text-muted">Thảo luận</h3>
</div>
<div class="card mx-5 mt-5">
    <div class="card-body">
        <form class="row g-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-2">
                <label class="form-label">Upload ảnh</label>
                <input type="file" class="form-control" name="image" required="">
            </div>
            <div class="col-md-3">
                <label class="form-label">Tiêu đề</label>
                <input type="text" class="form-control" name="title" required="">
            </div>

            <div class="col-md-7">
                <label class="form-label">Mô tả</label>
                <input type="text" class="form-control" name="description" required="">
            </div>
            <div class="col-12 justify-content-center">
                <button class="btn btn-primary" type="submit">Lưu</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}