{% extends "base.html" %}
{% load static %}

{% block title %}Môi trường học tập{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
   <h3 class=" text-center text-muted">Môi trường học tập</h3>
</div>
<div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card col-md-11">
       <div class="row g-0"> 
             <div class="col-md-4 justify-content-center d-flex">
                <img src="{% static 'image/chair.jpg' %}" class="img-fluid rounded-start" alt="...">                          
             </div>
             <div class="col-md-8">
                <div class="card-body">
                   <div class="d-flex justify-content-between">
                         <h5 class="card-title">Con đường TNUT</h5>
                         
                   </div>
                   <hr>
                   <p class="card-text">Có lẽ sau này, tôi sẽ đi rất nhiều nơi, qua rất nhiều con đường khác có thể to, có thể nhỏ, có thể giàu nhưng trong một góc ở trong tim mình, mọi đường nét của con đường lên giảng đường sẽ không bao giờ có thể phai nhòa.</p>
                </div>
             </div>
       </div>
    </div>
</div>
<div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card col-md-11">
       <div class="row g-0"> 
             <div class="col-md-4 justify-content-center d-flex">
                <img src="{% static 'image/512.PNG' %}" class="img-fluid rounded-start" alt="...">                          
             </div>
             <div class="col-md-8">
                <div class="card-body">
                   <div class="d-flex justify-content-between">
                         <h5 class="card-title">Học nhóm</h5>
                         
                   </div>
                   <hr>
                   <p class="card-text">Người xưa có câu “Học thầy không tày học bạn” quả thật không sai. Buổi học nhóm hôm nay đã để lại cho em rất nhiều ấn tượng và giúp em học thêm được rất nhiều điều. Các bạn cùng nhau giải thích cho nhau những lỗi sai và cùng nhau luyện đề khiến việc học trở nên sôi nổi và thú vị hơn rất nhiều.</p>
                </div>
             </div>
       </div>
    </div>
</div>
<div class="d-flex justify-content-center mb-5 mt-5">
   <div class="card col-md-11">
      <div class="row g-0"> 
            <div class="col-md-4 justify-content-center d-flex">
               <img src="{% static 'image/ktx.jpg' %}" class="img-fluid rounded-start" alt="...">                          
            </div>
            <div class="col-md-8">
               <div class="card-body">
                  <div class="d-flex justify-content-between">
                        <h5 class="card-title">Ký túc xá</h5>
                        
                  </div>
                  <hr>
                  <p class="card-text">Ký túc xá sinh viên đôi khi còn gọi là cư xá là những công trình, tòa nhà được xây dựng để dành cho việc giải quyết nhu cầu về chỗ ở, tá túc cho các sinh viên của các trường đại học, cao đẳng, trung học chuyên nghiệp. Những sinh viên ở ký túc xá thường là sinh viên xa nhà, xa quê hoặc gặp hoàn cảnh khó khăn và có nguyện vọng được ở tại ký túc xá, một số ký túc xá dành cho các sinh viên nội trú.</p>
               </div>
            </div>
      </div>
   </div>
</div>


<div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card col-md-11">
       <div class="row g-0"> 
             <div class="col-md-4 justify-content-center d-flex">
                <img src="{% static 'image/510.jpg' %}" class="img-fluid rounded-start" alt="...">                          
             </div>
             <div class="col-md-8">
                <div class="card-body">
                   <div class="d-flex justify-content-between">
                         <h5 class="card-title">Thiết bị thực hành</h5>
                         
                   </div>
                   <hr>
                   <p class="card-text">Những thiết bị, máy móc hiện đại đóng vai trò then chốt, quyết định trong công tác giảng dạy, NCKH, chuyển giao công nghệ và là nhân tố không thể thiếu trong việc đổi mới toàn diện giáo dục đại học.</p>
                </div>
             </div>
       </div>
    </div>
</div>

<div class="d-flex justify-content-center mb-5 mt-5">
   <div class="card col-md-11">
      <div class="row g-0"> 
            <div class="col-md-4 justify-content-center d-flex">
               <img src="{% static 'image/d11.jpg' %}" class="img-fluid rounded-start" alt="...">                          
            </div>
            <div class="col-md-8">
               <div class="card-body">
                  <div class="d-flex justify-content-between">
                        <h5 class="card-title">Cán bộ giảng viên</h5>
                        
                  </div>
                  <hr>
                  <p class="card-text">Những tấm gương tiêu biểu trong trường tôi với sự nổ lực phấn đấu không mệt mỏi, vươn lên trong công tác, nhiệt tình giàu lòng nhân ái của một giáo viên đã nhiều năm cống hiến trong nghề dạy học.</p>
               </div>
            </div>
      </div>
   </div>
</div>



{% endblock %}