{% extends "base.html" %}
{% load static %}

{% block title %}K55DVT{% endblock title %}

{% block head %}
   <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script> 
{% endblock head %}

{% block content %}

<div class="container-fluid mt-5">
    <h3 class=" text-center text-muted">Danh sách sinh viên K55 Điện tử viễn thông</h3>
</div>

{% comment %} <div id="button" class="d-grid gap-2 d-md-flex justify-content-md-end mx-5">
    <button type="button" class="btn btn-outline-primary  mt-3 mx-5">
        <a href="{% url "create_info" %}" class="creat">Creat</a>
    </button>
</div> {% endcomment %}

<div class="container-fluid mt-5">
    <table id="table_id" class="table table-hover" style="width:100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ảnh đại diện</th>
                <th>Thông tin cơ bản</th>
                <th>Giới tính</th>
                <th>Học tập</th>
                <th>Ngoại khóa</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for show in students %}
            <tr style="text-normal">
                <td class="pt-5">{{forloop.counter}}</td>
                <td style="width: 20%; ">
                    <img src="{% static 'image/' %}{{ show.image }}" style="width: 100%;">
                </td>
                <td class="pt-5" style="width: 18%;">{{show.name|safe}}</td>
                <td class="pt-5" style="width: 8%;">{{show.gender}}</td>
                <td class="pt-5" style="width: 23%;">{{show.study|safe}}</td>
                <td class="pt-5" style="width: 30%;">{{show.act|safe}}</td>
                <td class="pt-5">
                     
                    {% if user == show.author %}
                    <form action="{% url "Update" show.id %}" method="post" class='d-inline'>
                        {% csrf_token %}
                        <button type='button' class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit-{{show.id}}">
                         <i class="fa-regular fa-pen-to-square"></i>
                         </button>
                     </form>
                    <form action="{% url "Delete_s" show.id %}" method="post" class='d-inline'>
                       {% csrf_token %}
                       <button class="btn btn-danger btn-sm " type='submit'>
                          <i class="fa-solid fa-trash"></i>
                       </button>
                    </form>
                    
                    {% endif %} 
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for i in students %}
    <form action="/Update/{{i.id}}" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="edit-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Chỉnh sửa thông tin</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label>Upload ảnh</label>
                        <input type="file" class="form-control" name="edit_image" required="">
                        <label>Thông tin cơ bản</label>
                        <input name="edit_name" value="{{i.name|safe}}" type="text" class="form-control" required>
                        <label>Giới tính</label>
                        <select class="form-control" aria-label="Disabled select example" name="edit_gender">
                            <option selected >---------</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                        <label>Học tập</label>
                        <input name="edit_study" value="{{i.study|safe}}" type="text" class="form-control" required>
                        <label>Ngoại khóa</label>
                        <input name="edit_act" value="{{i.act|safe}}" type="text" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endfor %}

<script>
   new DataTable('#table_id'); 
</script>

{% endblock content %}