{% extends "base.html" %}
{% load static %}

{% block title %}Khoa học công nghệ{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
   <h3 class=" text-center text-muted">Nghiên cứu khoa học công nghệ</h3>
</div>
   <div class="d-flex justify-content-center mb-5 mt-5">
      <div class="card col-md-11">
         <div class="row g-0"> 
               <div class="col-md-4 justify-content-center d-flex">
                  <img src="{% static 'image/hoithao.png' %}" class="img-fluid rounded-start" alt="...">                          
               </div>
               <div class="col-md-8">
                  <div class="card-body">
                     <div class="d-flex justify-content-between">
                           <h5 class="card-title">Hội thảo FEE</h5>
                     </div>
                     <hr>
                     <p class="card-text">Tại bộ môn Điện tử viễn thông đã diễn ra hội thảo với chủ đề ...</p>
                     <p class="card-text">Với sự có mặt của tất cả các giảng viên bộ môn ...</p>
                     <p class="card-text">Hội thảo đã diễn ra tốt đẹp ...</p>
                  </div>
               </div>
         </div>
      </div>
   </div>

   <div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card col-md-11">
       <div class="row g-0"> 
             <div class="col-md-8">
                <div class="card-body">
                   <div class="d-flex justify-content-between">
                         <h5 class="card-title">Cuộc thi thiết kế logo</h5>
                   </div>
                   <hr>
                   <p class="card-text">Hình vuông: Hình vuông thường đại diện cho sự ổn định, cân bằng và cấu trúc bền vững. Trong trường hợp này, hình vuông trong logo thể hiện tính chất đáng tin cậy và tự tin của thương hiệu của ngàn Kỹ thuật Điện tử Viễn thông của Trường Đại học Kỹ thuật Công nghiệp. Hình vuông cũng có thể đại diện cho tính chất đồng đều và đồng nhất của các lĩnh vực khoa học và công nghệ trong logo</p>
                </div>
             </div>
             <div class="col-md-4 justify-content-center d-flex">
                <img src="{% static 'image/tk_logo1.jpg' %}" class="img-fluid rounded-start" alt="...">                          
             </div>
       </div>
    </div>
 </div>

 <div class="d-flex justify-content-center mb-5 mt-5">
    <div class="card col-md-11">
       <div class="row g-0"> 
             <div class="col-md-4 justify-content-center d-flex">
                <img src="{% static 'image/stsv_at.jpg' %}" class="img-fluid rounded-start" alt="...">                          
             </div>
             <div class="col-md-8">
                <div class="card-body">
                   <div class="d-flex justify-content-between">
                         <h5 class="card-title">Nghiên cứu Anten</h5>
                   </div>
                   <hr>
                   <p class="card-text">Môn học không sinh viên ĐTVT nào không biết</p>
                </div>
             </div>
       </div>
    </div>
 </div>

 <div class="d-flex justify-content-center mb-5 mt-5">
   <div class="card col-md-11">
      <div class="row g-0"> 
            <div class="col-md-8">
               <div class="card-body">
                  <div class="d-flex justify-content-between">
                        <h5 class="card-title">Cuộc thi thiết kế logo</h5>
                  </div>
                  <hr>
                  <p class="card-text"> Logo có thiết kế hình vuông trên nền màu vàng gấm vóc, trung tâm là người học, 3 vòng elip biểu tượng của khoa học công nghệ, trên các quỹ đạo elip là các biểu tượng của điện tử, viễn thông và kết nối vạn vật IoT. </p>
                     <p>Tổng thể, logo bạn đã thiết kế mang lại cảm giác mạnh mẽ, năng động và chuyên nghiệp. Nó thể hiện sự đáng tin cậy và động lực trong phát triển và ứng dụng công nghệ trong các lĩnh vực khoa học, điện tử, viễn thông, công nghệ thông minh và IoT. </p>
                     <p> Logo này có thể tạo ấn tượng tích cực và gợi nhắc đến sự chuyên nghiệp và tiến bộ của KTĐTVT tại TNUT và trong tâm trí của khách hàng.</p>
               </div>
            </div>
            <div class="col-md-4 justify-content-center d-flex">
               <img src="{% static 'image/tk_logo2.jpg' %}" class="img-fluid rounded-start" alt="...">                          
            </div>
      </div>
   </div>
</div>

<div class="d-flex justify-content-center mb-5 mt-5">
   <div class="card col-md-11">
      <div class="row g-0"> 
            <div class="col-md-4 justify-content-center d-flex">
               <img src="{% static 'image/tk_logo3.jpg' %}" class="img-fluid rounded-start" alt="...">                          
            </div>
            <div class="col-md-8">
               <div class="card-body">
                  <div class="d-flex justify-content-between">
                        <h5 class="card-title">Nghiên cứu robot</h5>
                  </div>
                  <hr>
                  <p class="card-text">Trong thế giới phẳng hiện nay nhờ đột phá về công nghệ thông tin và truyền thông, học ở mọi lúc, mọi nơi, bằng nhiều hình thức, thậm chí học miễn phí mà toàn xã hội chia sẻ, rồi tự nghiên cứu bằng từ khóa mới.</p>
                     <p>Học phải chăm chỉ, tự học là chìa khóa thành công!</p>
                     <p>Muốn giỏi, muốn hơn người khác, muốn có vị trí cao nhất, vinh danh nhất chỉ có thể là học.</p>
                     <p>Tri thức là chìa khóa của mọi thời đại! Tri thức dẫn tới thành công!</p>
               </div>
            </div>
      </div>
   </div>
</div> 

{% endblock content %}